{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/cart.css' %}">
</head>
<body>
 <h1>Your Shopping Cart</h1>
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item.product.titolo }} - ({{ item.quantity }}) - €{{ item.product.prezzo }} each
                <a href="{% url 'cart:remove_from_cart' item.id 'cart' %}">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <div class="BuyNow">
        {% if cart_items %}
            <a href="{% url 'cart:checkout' %}" class="button">Buy Now</a>
        {% else %}
            <a href="#" class="button disabled" onclick="alert('Please add items to your cart before proceeding to checkout.'); return false;">Buy Now</a>
        {% endif %}
    </div>
    <a href="{% url 'store:store' %}">Continue Shopping</a>
</body>
</html>