{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    <header>
        <h1>Payment Completed</h1>
    </header>
    <main>
        <div class="container">
            <p>Thanks for your purchase! The payment was completed successfully</p>
            <a href="{% url 'store:store' %}" class="btn btn-primary">Return to the Store</a>
        </div>
    </main>
</body>
</html>