{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
</head>
<body>
<header>
    <div class="header">
        <div class="recapiti">
            <a href="#">
                <div class="email">email:user@user.it</div>
            </a>
            <a href="#">
                <div class="contattaci">contactUs:0123456789</div>
            </a>
        </div>
        <a href="#">
           <div class="logo"></div>
        </a>

        <!--FARE BOTTONE-->

        <a href="#">
            <button class="SignIn">
                <h3><a href="{% url 'users:register' %}">Register</a></h3>
            </button>
        </a>
        <h3><a href="{% url 'users:logout' %}">Logout</a></h3>
    </div>
</header>
<main>
    <h1>WELCOME {{ user.username }}</h1>
    <div class="grid-main">
        {% for store in stores %}
        <div class="oggetto">
            <img src="{{ store.immagine.url }}" class="copertina" alt="...">
            <p class="titolo">{{ store.titolo }}</p>
            <p class="prezzo">€{{ store.prezzo }}</p>
            <a href="#" class="button">ACQUISTA</a>
        </div>
        {% endfor %}
    </div>
</main>

</body>
</html>