{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
</head>
<body>
<header>
    <div class="header">
        <div class="topheader">
            <a href="#">
                {% load static %}
                <img src="{% static 'store/logo.png' %}" class="logo" alt="...">
            </a>
            <div class="recapiti">
                <a href="#">
                    <div class="email">email:user@user.it</div>
                </a>
                <a href="#">
                    <div class="contattaci">contactUs:0123456789</div>
                </a>
            </div>
            {% if user.is_authenticated %}
            <h3>Welcome {{ user.username }}</h3>
            <button class="LogoutButton">
                <a href="{% url 'users:logout' %}">Logout</a>
            </button>
        {% else %}
            <button class="SignUpButton">
                <a href="{% url 'users:register' %}">Sign Up</a>
            </button>
            <button class="SignInButton">
                <a href="{% url 'users:login' %}">Sign In</a>
            </button>
        {% endif %}
        </div>
    <!--AGGIUSTARE QUESTA PARTE PER LA VISUALIZZAZIONE DEI PRODOTTI NEL CARRELLO-->
        {% for product in products %}
            <div>
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
                <a href="{% url 'cart:add_to_cart' product.id %}">Add to Cart</a>
            </div>
        {% endfor %}
    <!--FINO QUI-->
    </div>
</header>
<main>
    <div class="grid-main">
        {% for store in stores %}
        <div class="oggetto">
            <img src="{{ store.immagine.url }}" class="copertina" alt="...">
            <p class="titolo">{{ store.titolo }}</p>
            <p class="prezzo">€{{ store.prezzo }}</p>
            <a href="#" class="button">ACQUISTA</a>
        </div>
        {% endfor %}
    </div>
</main>

</body>
</html>