{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/home.css' %}">
</head>
<body>
<header>
    <div class="header">
        <div class="topheader">
            <a href="#">
                {% load static %}
                <img src="{% static 'store/logo.png' %}" class="logo" alt="...">
            </a>
            <div class="search">
                <input type="text" placeholder="Search..">
            </div>
            {% if user.is_authenticated %}
                <div class="Logged">
                    <h4 class="Welcome">Welcome {{ user.username }}</h4>
                    <button class="LogoutButton">
                        <a href="{% url 'users:logout' %}">Logout</a>
                    </button>
                </div>
            {% else %}
                <div class="SignUpIn">
                    <button class="SignUpButton">
                        <a href="{% url 'users:register' %}">Sign Up</a>
                    </button>
                    <button class="SignInButton">
                        <a href="{% url 'users:login' %}">Sign In</a>
                    </button>
                </div>
            {% endif %}
        </div>
        <div class="bottomheader">

            <!--DROPDOWN PER LE CATEGORIE-->
            <div class="dropdownbtp">
                <button onclick="toggleDropdown()" class="dropdown">Select Artist</button>
                <div id="artistDropdown" class="dropdown-content">
                    <a href="{%  url 'store:store' %}">Remove filter</a>
                    {% for artist in artists %}
                        <a href="{% url 'store:filtered_store' artist=artist %}">{{ artist }}</a>
                    {% endfor %}
                </div>
            </div>
            <!--CARRELLO DELLO STORE-->
            {% if user.is_authenticated %}
                <a class="carrello" href="{% url 'cart:view_cart' %}">Cart</a>
            {% else %}
                <a href="{% url 'users:register' %}">Cart (Sign up first)</a>
            {% endif %}
        </div>
    </div>

</header>

<main>
    <div class="main">
        <!--CICLO PER VEDERE I PRODOTTI-->
        <div class="grid-main">
            {% for store in stores %}
                <div id="store-{{ store.id }}" class="oggetto">
                    <img src="{{ store.immagine.url }}" class="quadro" alt="...">
                    <p class="titolo">{{ store.titolo }}</p>
                    <p class="artista">{{ store.artista }}</p>
                    <p class="prezzo">€{{ store.prezzo }}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'cart:checkout_single_item' store.id %}" class="button">Buy now</a>
                {% else %}
                    <a href="{% url 'users:register' %}">Buy now(Sign up first)</a>
                {% endif %}
                    <!--CONDIZIONE PER AGGIUNGERE AL CARRELLO SOLO SE SEI LOGGATO-->
                {% if user.is_authenticated %}
                    <a href="{% url 'cart:add_to_cart' store.id %}">Add to Cart</a>
                {% else %}
                    <a href="{% url 'users:register' %}">Add to Cart</a>
                {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="cart">
            <h3>Cart</h3>
            <ul>
                {% for item in cart_items %}
                    <li>
                        {{ item.product.titolo }} - ({{ item.quantity }}) - €{{ item.product.prezzo }} each
                        <a href="{% url 'cart:remove_from_cart' item.id 'store' %}">Remove</a>
                    </li>
                {% endfor %}

            </ul>
            <div class="BuyNow">
                {% if cart_count > 0 %}
                    <a href="{% url 'cart:checkout' %}" class="button">Buy Now</a>
                {% else %}
                    <a href="#" class="button disabled" onclick="alert('Please add items to your cart before proceeding to checkout.'); return false;">Buy Now</a>
                {% endif %}
            </div>


        </div>
    </div>

</main>

<footer>
    <div class="recapiti">
                <a href="#">
                    <div class="email">email:user@user.it</div>
                </a>
                <a href="#">
                    <div class="contattaci">contactUs:0123456789</div>
                </a>
            </div>
</footer>

<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("artistDropdown");
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
        } else {
            dropdown.style.display = "block";
        }
    }
</script>


</body>
</html>


