{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/authentication.css' %}">
</head>
<body>

<div class="container">
    <h1>Login</h1>

    {% for message in messages %}
    <h1 >{{ message }}</h1>
    {% endfor %}

    <form action="" method="POST">
    {% csrf_token %}
        <label>Username</label>

        <input type="text" name="username" required />

        <label>Password</label>

        <input type="password" name="password" required/>


        <input type="submit" value="Login" />

    </form>
</div>


</body>
</html>